body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 100vh;
    color: white;
}

#chatbox {
    border: 2px solid #fff;
    padding: 10px;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#userInput {
    width: 240px;
